.custom-shape-divider-top-1737139328 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1737139328 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
}

.custom-shape-divider-top-1737139328 .shape-fill {
    fill: hsl(var(--background));
}
