@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 265 63% 7%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 271 48% 45%;
    --primary-foreground:0 0% 98%;
    --secondary: 266 25% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 27.9% 16.9% / 0.33;
    --muted-foreground: 0 0% 63.9%;
    --accent: 56 100% 72%;
    --accent-foreground: 265 63% 7%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 271 48% 45%;
    --input: 271 48% 45%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


